   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
   
   *,*:before,*:after{
    box-sizing: border-box;
 }
 body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
 }
 h1,h2,h3,h4,h5,h6{
  margin: 0;
 }
 p {
  margin: 0 0 5px;
 }
 .container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15;
    
 }
 .btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  height: 50px;
  font-weight: 500;
  background-color: red;
  min-width: 200px;
  padding: 0 15px ;
  transition: background-color .2s ease;
  cursor: pointer;
  outline: 0;
  border: 0;
 }

 .btn:hover{
  background-color: #f15a49;
 }
 .header{
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
 }
 .header__wrapper {
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;

 }
 .header__block {
   width: 20%;
 }
 .header__logo {
  display: inline-block;
 }
 .header__logo img {
  height: 65px;
 }
 
 .nav{
  display: flex;
 }
 
 
 .nav__link{
  margin-right: 35px;

  color: #fff; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
 }
 .nav__link:after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity .2s ease;
 }

 .nav__link:last-child{
   margin-right: 0;
 }
 .nav__link:hover:after{
  opacity: 1;
 }
 .nav__link.active:after{
    opacity: 1;
 }
 .header__lng{
   display: flex;
   justify-content: flex-end;
 }
 .header__lng-link{
  margin-right: 8px;
   font-weight: 600;
   color: #B7B7B7;
   text-transform: uppercase;
   text-decoration: none;
   transition: color .2s ease;
 }
 .header__lng-link:last-child{
  margin-right: 0;
 }

 .header__lng-link:hover{
  color: #fff;
 }
 
 .header__lng-link.active{
color: #fff;
 }

 /* header end */



 /* intro start */

 .intro{
  background-repeat:  no-repeat;
  background-size: cover;
  position: relative;
 }
 .intro::after {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
   background-color: #000;
   opacity: .3;
   content: '';

 }


 .intro__content{
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
 }

 

 .intro__title{
  max-width: 790px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  color: white;
  line-height: 1.5;
  text-transform: uppercase;
 }
 
 

 /*intro-end*/

 .section{
  margin-bottom: 100px;
 }
 .section.process {
  padding-top: 170px;
 }

 /*info-start*/

 .info{
    transform: translateY(-50%);
 }

 
  .info__item {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 40px 40px 30px;

  }
  .info__img{
    margin-bottom: 20px;
  }
  .info__img img {
    height: 30px;

  }
  .info__title {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .info__text {

    font-size: 18px;
    color: #B7B7B7;
  }

  /*Info end*/

  /*block start*/
    .block__title{
      margin-bottom: 15px;
      font-size: 30px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: black;
    }
    .block__title.text-white{
      color: #fff;

    }
    .block__title-about{
      margin-bottom: 15px;
        font-size: 30px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: rgb(255, 251, 251);
    }



    .block__link {
      margin-bottom: 60px;
      display: inline-block;
      letter-spacing: 0.15em;
      color: black;
      text-transform: uppercase;
    }
    .block__link:hover{
      text-decoration: none;
    }

    .wrapper {
      display: flex;
      margin: 0 -10px;
    }

    .block {
      width: 33.33%;
      padding: 0 10px;
    }

    .text-upper {
      text-transform: uppercase;
    }
  
  /*block end*/


  /*services start*/
    .services__item {
      text-decoration: none;

    }
    .services__item:hover .services__content-item {
      opacity: 1;
    }
    .services__item:hover .services__content:after {
     opacity: .7;
    }



   
    .services__content{
      height: 500px;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

    }
    .services__content:after {
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      transition: opacity .3s ease;
    }
    .services__content-item{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      transition: opacity .3s ease;

    }
    .services__img{
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: red;
      border-radius: 50px;
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } 

    .services__title{
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.23em;
      color: #000;
      text-transform: uppercase;


    }
    .services__text{
      max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.23em;
    position: absolute;
    left: 30px;
    bottom: 30px;
    text-transform: uppercase;

    }


  /*services end*/




  /*about start*/
  .about {
    padding: 115px 0;
    background-color: #171616;

  }

  .about__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

  }

  .about__block {
    max-width: 505px;

  }
  
  .about__text{
    margin: 35px 0 40px;
    font-weight: 600;
    color: #B7B7B7;
    letter-spacing: 0.23em; 
  }
  .about__link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .about__link:hover {
    text-decoration: none;

  }
  .about__img {
    height: 340px;
  }


  /*about end*/




  /*process start*/
  .process__title {
    margin-bottom: 50px;
    font-size: 148px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  .process__subtitle {
    margin-bottom: 90px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
  }

  .process__item {
    height: 100%;
    min-height: 150px;
    padding: 30px 30px 15px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }

/*process end*/


/*contacts start*/
.contacts {
  padding: 100px 0;
  background-color: #171616;

}
.contacts .block__title {
  margin-bottom: 45px;
}
 
.contacts__form{
  max-width: 440px;

}

.form__row {
  margin: 0 -20px;
  display: flex;

}
.form__group {
  margin-bottom: 30px;
   padding: 0 20px;
   flex: 1;
   position: relative;
}


.input {
  width: 100%;
  padding: 9px 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
}
.input:focus +.label {
  transform: translateY(-15px);
  font-size: 12px;

}

.input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.label {
  letter-spacing: 0.15em;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all .2s ease;
}


/*textarea-start*/

.textarea {
  min-height: 130px;
  width: 100%;
    padding: 9px 0;
    resize: vertical;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-family: inherit;  
}

.textarea:focus + .label {
  transform: translateY(-15px);
  font-size: 12px;
}
.textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}



/*textarea-end*/


/*footer-start*/


.footer__wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.copyright{
  letter-spacing: 0.15em;
}

.footer__soc{
display: flex;
}
.footer__soc-link{
  margin-right: 20px;
  text-decoration: none;
}
.footer__soc-link:last-child {
  margin-right: 0;
}
.footer__soc-link img {
  height: 25px;
}


/*footer-end*/